<h1>Listado de Heroes</h1>

<hr>

<div class="row">
    <div class="col text-end">
        <button class="btn btn-primary " routerLink="/heroe/nuevo">
        <i class="fas fa-plus-circle"> Agregar</i>
    </button></div>
</div>
<table class="table mt-5" *ngIf="!cargando">
    <thead>
        <tr><th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Vivo</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let heroe of heroes; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ heroe.nombre }}</td>
            <td>{{ heroe.poder }}</td>
            <td>
                <span *ngIf="heroe.vivo" class="badge bg-success">Vivo</span>
                <span *ngIf="!heroe.vivo" class="badge bg-danger">Muerto</span>
            <td> <!-- Va entrre llaves cuadradad el routerLik cuando hay que procesar informacion -->
                    <button
                     class="btn btn-info mr-1"
                        [routerLink]="['/heroe', heroe.id]">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button class="btn btn-danger "
                        (click)="borrarHeroe(heroe,i)">
                        <i class="fas fa-dumpster-fire"></i>
                    </button>

            </td>
        </tr>
    </tbody>
</table>

<div 
*ngIf="cargando"
class="alert alert-info text-center mt-3" role="alert">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fas fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere porfavor
    </p>
</div>

<div  *ngIf="!cargando && heroes.length === 0"
class="alert alert-warning text-center mt-3" role="alert">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fas fa-exclamation fa-2x"></i>
    </p>
</div>